html, body {
    background-color: $light-blue;
    height: 100%;
    width: 100%;
}

.main-title {
    font-family: 'Pacifico', cursive;
}

.facebook-button {
    background-color: $facebook-blue;
    color: white;
    display: block;
    padding: 5px;
    width: 100%;
    &:hover {
        background-color: $facebook-blue-strong;
        color: $white;
    }
}

.form-errors {
    padding-bottom: 5px;
        .error {
            border-left: 5px solid red;
            color: red
            margin-bottom 10px;
            padding: 5px;
        }
}
