<div>
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> fade in">
            <a href="#" data-dismiss="alert" class="delete"></a>
            <p><%= value %></p>
        </div>
    <% end %>
</div>