$light-blue: #e1f5fe;
$facebook-blue: #3b5998;
$facebook-blue-strong: #00287f;
$white: #fff;

html, body {
    background-color: $light-blue;
    height: 100%;
    width: 100%;
}

.main-title {
    font-family: 'Pacifico', cursive;
}

.facebook-button {
    background-color: $facebook-blue;
    color: white;
    display: block;
    padding: 5px;
    width: 100%;
    &:hover {
        background-color: $facebook-blue-strong;
        color: $white;
    }
}

